<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Electronix - Gear is what we do</title>

	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
	<link rel="icon" type="image/x-icon" th:href="@{/img/logo.ico}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>
<header>
	<div id="top-header">
		<div class="container">
			<ul class="header-links pull-left">
				<li><a th:text="${Phone?.content  ?: 'null'}"></a></li>
				<li><a th:text="${Email?.content  ?: 'null'}"></a></li>
				<li><a th:text="${Address?.content  ?: 'null'}"></a></li>
			</ul>
			<ul class="header-links pull-right">
				<li><a>ENG</a></li>
				<li><a href="/api/user/myAccount">My Account</a></li>
			</ul>
		</div>
	</div>
	<div id="header">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="header-logo">
						<a href="/api/products/shop" class="logo">
							<img th:src="@{/img/logo.png}" alt="Logo">
						</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="header-search">
						<form action="/api/products/search" th:method="GET">
							<select class="input-select" name="category">
								<option>All Categories</option>
								<t th:each="category : ${Categories  ?: 'null'}">
									<option th:text="${category.name  ?: 'null'}"></option>
								</t>
							</select>
							<input class="input" placeholder="Search here" name="search">
							<button class="search-btn">Search</button>
						</form>
					</div>
				</div>
				<div class="col-md-3 clearfix">
					<div class="header-ctn">
						<div>
							<a href="/api/user/wishlist">
								<i class="heart"></i>
								<span>Your Wishlist</span>
								<div class="qty" th:text="${WishlistSize  ?: 'null'}"></div>
							</a>
						</div>
						<div>
							<a href="/api/user/cart">
								<i class="shopping-cart"></i>
								<span>Your Cart</span>
								<div class="qty" th:text="${CartSize  ?: 'null'}"></div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<nav id="navigation">
	<div class="container">
		<div id="responsive-nav">
			<ul class="main-nav nav navbar-nav">
				<li><a href="/api/products/shop">Home</a></li>
				<li><a href="/api/products/shop/laptops">Laptops</a></li>
				<li><a href="/api/products/shop/smartphones">Smartphones</a></li>
				<li><a href="/api/products/shop/tablets">Tablets</a></li>
				<li><a href="/api/products/shop/cameras">Cameras</a></li>
				<li><a href="/api/products/shop/headphones">Headphones</a></li>
				<li><a href="/api/products/shop/speakers">Speakers</a></li>
				<li><a href="/api/products/shop/accessories">Accessories</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12" th:each="information : ${informations}">
				<div class="row">
					<div class="products-tabs">
						<div id="tab1" class="tab-pane active">
							<div class="products-slick" data-nav="#slick-nav-1">
								<div class="product">
									<div class="product-img">
									</div>
									<div class="product-body">
										<p class="product-category"></p>
										<h4 class="product-price" th:text="${information.name}" style="font-size: 50px"></h4>
										<br><br><br>
										<h3 class="product-name" th:text="${information.content}" style="font-size: 20px; white-space: pre-line"  ></h3>
										<br><br><br>
									</div>
								</div>
							</div>
							<div id="slick-nav-1" class="products-slick-nav"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer id="footer">
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">About Us</h3>
						<p th:text="${AboutUs?.content  ?: 'null'}"></p>
						<ul class="footer-links">
							<p th:text="${Address?.content  ?: 'null'}"></p>
							<p th:text="${Phone?.content  ?: 'null'}"></p>
							<p th:text="${Email?.content  ?: 'null'}"></p>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">Categories</h3>
						<ul class="footer-links">
							<li><a href="/api/products/shop/laptops">Laptops</a></li>
							<li><a href="/api/products/shop/smartphones">Smartphones</a></li>
							<li><a href="/api/products/shop/tablets">Tablets</a></li>
							<li><a href="/api/products/shop/cameras">Cameras</a></li>
							<li><a href="/api/products/shop/headphones">Headphones</a></li>
							<li><a href="/api/products/shop/speakers">Speakers</a></li>
							<li><a href="/api/products/shop/accessories">Accessories</a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix visible-xs"></div>
				<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">Information</h3>
						<ul class="footer-links">
							<li><a href="/api/information/aboutUs">About Us</a></li>
							<li><a href="/api/information/contactUs">Contact Us</a></li>
							<li><a href="/api/information/privacyPolicy">Privacy Policy</a></li>
							<li><a href="/api/information/ordersAndReturns">Orders and Returns</a></li>
							<li><a href="/api/information/termsAndConditions">Terms & Conditions</a></li>
							<li><a href="/api/information/faq">FAQ</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">Service</h3>
						<ul class="footer-links">
							<li><a href="/api/user/myAccount">My Account</a></li>
							<li><a href="/api/user/cart">View Cart</a></li>
							<li><a href="/api/user/wishlist">Wishlist</a></li>
							<li><a href="/api/user/myOrder">Track My Order</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="bottom-footer" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="footer-payments">
						<li><a><i class="VISA"></i></a></li>
						<li><a><i class="MASTERCARD"></i></a></li>
						<li><a><i class="PAYPAL"></i></a></li>
						<li><a><i class="BLIK"></i></a></li>
						<li><a><i class="BITCOIN"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
</body>
</html>
